.list{
    list-style: none;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    border: 2px solid #EDEDF0;
    border-top: none;
    border-left: none;
}
.item{
    border: 2px solid #EDEDF0;
    flex-basis: 20%;
}
.item{
    border-right: 0;
    border-bottom: 0;
}
