.gamePagePosition{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: 0 auto;

}

.gamePage{
    display: flex;
    width: 100%;
}

.gameInterface{
    border: 3px solid #EEEEEE;
    border-right: none;
    width: 50%;
}

.gameInterface, .leaderBoard{
    padding: 30px 10px;
    text-align: center;
}

.leaderBoard{
    border: 3px solid #EEEEEE;
    width: 50%;
}

.item{
    border-right: 0;
    border-bottom: 0;
    border: 2px solid #EDEDF0;
}

.item_basis_5{
    flex-basis: 20%;
    border-right: 0;
    border-bottom: 0;
}

.item_basis_10{
    flex-basis: 10%;
    border-right: 0;
    border-bottom: 0;
}

.item_basis_15{
    border-right: 0;
    border-bottom: 0;
    flex-basis: 6.6666666666666666666666666%;
}
