.leaderList{
    text-align: left;
}

.list{
    list-style: none;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.item{
    margin-top: 4px;
    
}
.item:first-child{
    margin-top: 0;
}